* {
  margin: 0;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app_body {
  display: flex;
  height: 90vh;
  width: 90vw;
  margin-top: -10px;
  background-color: #ededed;
  box-shadow: -10px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
